{% extends 'base.html' %}
{% block content %}
    <h2>Register</h2>
    <form method="post">
        {{ form.hidden_tag() }}
        <div>
            {{ form.username.label }}
            {{ form.username(size=32) }}
        </div>
        <div>
            {{ form.email.label }}
            {{ form.email(size=32) }}
        </div>
        <div>
            {{ form.password.label }}
            {{ form.password(size=32) }}
        </div>
        <div>
            {{ form.password2.label }}
            {{ form.password2(size=32) }}
        </div>
        <div>
            {{ form.submit() }}
        </div>
    </form>
{% endblock %}
